.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    
    text-align: center;
}
.nav>ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}
button{
    border: 2px solid rgb(13, 100, 129);
    padding: 5px 20px;
    border-radius: 20px;
}